In [5]:
import pandas as pd

afc = pd.read_csv("afc.csv")
df = afc[["Tm", "PF", "PA", "SoS"]]
df["PointD"] = df.apply(lambda row: row.PF-row.PA, axis=1)
df["quid"] = df.apply(lambda row: (row.PointD)/17 + row.SoS, axis = 1)
df.sort_values(by = "quid", ascending = True, inplace = True)
print(df)

                       Tm   PF   PA  SoS  PointD      quid
7           Chicago Bears  326  463  1.6    -137 -6.458824
15      Arizona Cardinals  340  449  0.2    -109 -6.211765
14       Los Angeles Rams  307  384  0.5     -77 -4.029412
8   Tampa Bay Buccaneers*  313  358  0.4     -45 -2.247059
9       Carolina Panthers  347  374 -0.6     -27 -2.188235
11        Atlanta Falcons  365  386 -0.9     -21 -2.135294
10     New Orleans Saints  330  345 -0.3     -15 -1.182353
3   Washington Commanders  321  343  0.4     -22 -0.894118
13      Seattle Seahawks+  407  401 -0.8       6 -0.447059
2        New York Giants+  365  371  0.0      -6 -0.352941
4      Minnesota Vikings*  424  427  0.1      -3 -0.076471
6       Green Bay Packers  370  371  0.4      -1  0.341176
5           Detroit Lions  453  427  0.7      26  2.229412
0    Philadelphia Eagles*  477  344 -1.3     133  6.523529
1         Dallas Cowboys+  467  342 -0.8     125  6.552941
12   San Francisco 49ers*  450  277 -2.3     173  7.876471

/var/folders/c7/lq7hgzl54ms3n03t1xd6q6qr0000gn/T/ipykernel_5297/1271365537.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PointD"] = df.apply(lambda row: row.PF-row.PA, axis=1)
/var/folders/c7/lq7hgzl54ms3n03t1xd6q6qr0000gn/T/ipykernel_5297/1271365537.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["quid"] = df.apply(lambda row: (row.PointD)/17 + row.SoS, axis = 1)
/var/folders/c7/lq7hgzl54ms3n03t1xd6q6qr0000gn/T/ipykernel_5297/1271365537.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.sort_values(by = "quid", ascending = True, inplace = True)

In [6]:
nfc = pd.read_csv("nfc.csv")
df2 = nfc[["Tm", "PF", "PA","SoS"]]
df2["PointD"] = df2.apply(lambda row: row.PF-row.PA, axis=1)
df2["quid"] = df2.apply(lambda row: (row.PointD)/17 + row.SoS, axis = 1)
df2.sort_values(by = "quid", ascending = True, inplace = True)
print(df2)

                       Tm   PF   PA  SoS  PointD       quid
9      Indianapolis Colts  289  427 -0.5    -138  -8.617647
11         Houston Texans  289  420 -0.8    -131  -8.505882
10         Denver Broncos  287  359 -0.7     -72  -4.935294
8        Tennessee Titans  298  359  0.0     -61  -3.588235
12      Las Vegas Raiders  395  418 -1.1     -23  -2.452941
14  Los Angeles Chargers+  391  384 -1.3       7  -0.888235
2     Pittsburgh Steelers  308  346  1.5     -38  -0.735294
4        Cleveland Browns  361  381  1.1     -20  -0.076471
1           New York Jets  296  316  2.0     -20   0.823529
15  Jacksonville Jaguars*  404  350 -1.4      54   1.776471
0         Miami Dolphins+  397  399  2.0      -2   1.882353
5    New England Patriots  364  347  1.0      17   2.000000
3       Baltimore Ravens+  350  315  1.1      35   3.158824
13    Kansas City Chiefs*  496  369 -1.2     127   6.270588
6     Cincinnati Bengals*  418  322  0.9      96   6.547059
7          Buffalo Bills*  455  286  0.4     169  10.341176

/var/folders/c7/lq7hgzl54ms3n03t1xd6q6qr0000gn/T/ipykernel_5297/652057936.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["PointD"] = df2.apply(lambda row: row.PF-row.PA, axis=1)
/var/folders/c7/lq7hgzl54ms3n03t1xd6q6qr0000gn/T/ipykernel_5297/652057936.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["quid"] = df2.apply(lambda row: (row.PointD)/17 + row.SoS, axis = 1)
/var/folders/c7/lq7hgzl54ms3n03t1xd6q6qr0000gn/T/ipykernel_5297/652057936.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.sort_values(by = "quid", ascending = True, inplace = True)

In [12]:
import pandas as pd

nfc = pd.read_csv("nfc.csv")
nfc.head()

,Tm,W,L,T,W-L%,PF,PA,PD,MoV,SoS,SRS,OSRS,DSRS
0,Miami Dolphins+,9,8,0,0.529,397,399,-2,-0.1,2.0,1.8,2.7,-0.9
1,New York Jets,7,10,0,0.412,296,316,-20,-1.2,2.0,0.8,-4.0,4.8
2,Pittsburgh Steelers,9,8,0,0.529,308,346,-38,-2.2,1.5,-0.8,-3.0,2.3
3,Baltimore Ravens+,10,7,0,0.588,350,315,35,2.1,1.1,3.1,-0.2,3.4
4,Cleveland Browns,7,10,0,0.412,361,381,-20,-1.2,1.1,-0.1,0.7,-0.9

In [13]:

df = nfc[["Tm", "PF", "PA", "SoS"]]
df.head()

                    Tm   PF   PA  SoS
0      Miami Dolphins+  397  399  2.0
1        New York Jets  296  316  2.0
2  Pittsburgh Steelers  308  346  1.5
3    Baltimore Ravens+  350  315  1.1
4     Cleveland Browns  361  381  1.1